<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>

<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"> </div>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="box box-danger">
  
      <div class="box-header with-border text-center" >
        <h2 class="box-title">
          New Department
        </h2>
      </div>
  <br />
    <div class="row">
      <div class="col-md-offset-4 col-md-6">
        <form class="form-horizontal" action = "Dept/save" method="post" >
        
          <div class="row" id="Section1.row5">
            <div class="col-md-1">
              <label class="control-label col-sm-2" for=
              "nam">Name:</label>
            </div>
            <div class="col-md-offset-1 col-md-8">
              <input type="text" class="form-control" id="name" th:field="${dept.name}"  placeholder="Enter Name" />
            </div>
          </div><br />
          <div class="row" id="Section1.row1">
            <div class="col-md-1">
              <label class="control-label col-sm-2" for=
              "Remark">Remarks:</label>
            </div>
            <div class="col-md-offset-1 col-md-8">
              <input type="text" class="form-control" id="remark" th:field= "${dept.remarks}"
              placeholder="Remarks" />
            </div>
          </div><br />
          <div class="col-md-offset-1">
            <div class="col-sm-offset-2 col-sm-10"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <br />
              <button type="submit" class=
              "btn btn-default col-md-offset-1">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

	<div th:replace="template:: footer"></div>
</body>
</html>