<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>

<script th:inline="javascript">

function init(){
		setDefaultValue('#prodType');
		setDefaultValue('#prodName');
		$("#Color").hide();
		
};


function calculateQuantity(){
	var pcs = $("#Pcs").val();
	var meter = $("#Meter").val();
	
	var quantity = pcs * meter;
	
	$('#quantity').val(quantity);
};

function setDefaultValue(dropdown){
	  $(dropdown).append(
				$("<option></option>").attr("value", "999").text(
						"Please Select"));
	  $(dropdown).val(999);
		
};

function ItemQuantity(quantity){
	var prodType = $("#prodType").find(":selected").text();
	var itemQuantity = (quantity/prodType).toFixed(2);;
	
	$("#itemQuantity1").val(itemQuantity);
	$("#itemQuantity2").val(itemQuantity);
	if(prodType == 3) 
	$("#itemQuantity3").val(itemQuantity);
	
}


$(document).ready(function() {
	init();
	
	 orderID = /*[[${session.orderID}]]*/;
	 lotNo = /*[[${session.lotNo}]]*/;
	 currentDate = /*[[${session.currentDate}]]*/;
	// $("#date").text(currentDate);
	 $('#date').attr('value', currentDate);

	 orderList = [];
	prodList = [];
	productList = [];
	itemList =[];
	kameez ="";
	duppatta ="";
	shalwar ="";
	

	$('#machineDetail').hide();
	
	$('#orderID').val(orderID);
	$('#lotNo').val(lotNo);
	
	$('#addProduct').submit(
		function(event) {
			event.preventDefault();
			 var date = new Date($('#date').val());
			partyName = $('#partyName').val();
			 orderDate =JSON.stringify(date.toString());
				
			submitData();
		});
});


function submitData(){
	
	data = {
			"orderDetail" :orderList,
			"product" : productList,
			"partyName" : partyName,
			"date" : orderDate,
			"machineDetail": itemList
	};
	
	
	$.ajax({
		url : "Order/save",
		 contentType: "application/json; charset=utf-8",
		data :JSON.stringify(data),
		type : "POST",
		success : function(response) {
			
 			 window.location.href  ="/orderDetails";
			        
		},
		error : function(xhr, status, error) {
			alert("ERROR:"+xhr.responseText);
			console.log("ERROR:"+xhr.responseText);
		}	
	});

}

function add(){
	var orderDetail = {};

	var product={
		"name" : $("#prodName").find(":selected").text(),
		"prodType" :  $("#prodType").find(":selected").text()
	};
	var productDetail = {
			"color" : $("#Color").find(":selected").text() ,
			"designNo" :$("#DesignNo").val(),
			"product" : product
	}
	
	orderDetail.quantity = $("#quantity").val();
	orderDetail.construction = $("#Construction").val() ;
	//orderDetail.price = "123";
	orderDetail.remarks="remarks";
	orderDetail.prodDetail = productDetail;
	
	var prodType=product.name + "/"+ product.prodType;
	var items = shalwar+"," +  kameez+"," + duppatta;
	
	productList.push(prodType);
	orderList.push(orderDetail);
	prodList.push(productDetail);
	itemList.push(items);
	
	var htmlrow ="<tr>"+
	"<td>" + "</td>"+
	"<td>" + product.name+ "</td>"+
	"<td>" + orderDetail.quantity + "</td>"+
	"<td>" + orderDetail.prodDetail.color+ "</td>"+
	"<td>" +orderDetail.construction  + "</td>"+
	"</tr>";         
    $('#addedProducts').append(htmlrow);
	
    $("#addProduct")[0].reset();
    $('#orderID').val(orderID);
	$('#lotNo').val(lotNo);
	$('#date').val(currentDate);
}

function onProductChange() {
	var prodName=$('#prodName').val();
		$('#prodType').empty();
	
	 if(prodName == '999') 
         return;

	 $.ajax({
		    type: "POST",
		    data:prodName,
		    contentType: "application/json; charset=utf-8",
		    url: "/getProdType?",
		    success : function(prodType) {
		    	setDefaultValue('#prodType');
	    	    
		    	$.each(prodType, function(key, value) {
		    		 $('#prodType')
		    	         .append($("<option></option>")
		    	                    .attr("value",key)
		    	                    .text(value));
		    		 
		    		 if(value ==2)
		    			 $('#rowDuppatta').hide();
		    		 else
		    			 $('#rowDuppatta').show();
		    	});
	          
	        }
	});
}

function getMachine(){
	var colors=$('#noOfColor').val(); 
	$('#machine1').empty();
	$('#machine2').empty();
	$('#machine3').empty();
	 $.ajax({
		    type: "POST",
		    contentType: "application/json; charset=utf-8",
		    data:colors,
		    url: "/getMachine",
		    success : function(prodType) {
		    	var counter =0;
		    	 
	    		 setDefaultValue('#machine1');
	    		 setDefaultValue('#machine2');
	    		 setDefaultValue('#machine3');
	    		 
		    	$.each(prodType, function(key, value) {
		    		 counter++;
		    	for( a=1; a != 4 ; a++){
		    	var machine ="#machine" + a;
		    		$(machine)
	    	         .append($("<option></option>")
	    	                    .attr("value",key)
	    	                    .text(value)); 
		    	}
		    	     $('#SAssign').show();
		    	     $('#KAssign').show();
		    	     $('#DAssign').show();
		    	});
	          
	        }
	});
};

function getEndDate(machine,val){
	var machineName =$(machine).find("option:selected").text();
	var data = machineName.split("| ");
	var itemQuantityField = '#itemQuantity'+val;
	var quantity = $(itemQuantityField).val();
	data[1] =data[1]+ "@"+quantity;
	
	var opEndDate = "#OperationEndDate"+val;
	var itemEndDate = "#orderEndDate"+val;
	
	$.ajax({
	    type: "POST",
	    contentType: "application/json; charset=utf-8",
	    data:data[1],
	    url: "/getEndDate",
	    success : function(output) {
	    	if(output=="" || output==null){			// No result found
	    		$('#machineDetail').hide();	
	    		$(opEndDate).val("");
		    	$(itemEndDate).val("");
		    	$('#orderInProgress1').text("");
	 	    	$('#orderInProgress2').text(""); 	
		    	
		    	
		         return;
	    	}
	    	
	    	$.each(output, function(key, result) {
	     		inProgress = "In Progress";
	    		open = "Open";
	    		computedDate = result[2].split('/');
	    		DaysToComplete = computedDate[0];
	    		computedEndDate = computedDate[1];
	    		
	    		if(result[3]==open ){			// No result found
		    		
		    		$(opEndDate).val("");
		    		$(itemEndDate).val(computedEndDate);
		    		
		    		$('#machineDetail').show();
		 	    	$('#orderInProgress1').text("Need "+DaysToComplete+" Days To Complete." );
		 	    	$('#orderInProgress2').text("" );
		 	    	var msg = " Estimated Date if order start today <strong>" + computedEndDate +"</strong><br/>" ;
		 	    				    	
			         if(result[1]!="" || result[1]!=null){
			        	 
			        	 displayScheduled =true;
			        	 msg = " Estimated Date if starts after Scheduled Order <strong>" + computedEndDate +"</strong><br/>" ;
			 	    		
			         }
			         $('#orderInProgress2').append('<font color="yellow" size="3">  Machine is Free.</font> <br/>' + msg); 	
				    	 return;
		    	}	
	    		
	    	if(result[3]==inProgress){
	    		
	    	$('#machineDetail').show();
	    	$(opEndDate).val(result[0]);
	    	$(itemEndDate).val(computedEndDate);
	    	
 	    	$('#orderInProgress1').text("Need "+DaysToComplete+" Days To Complete." );
 	   		$('#orderInProgress2').text("" );
 	    	$('#orderInProgress2').append(machineName+" - <strong>  Currently busy in :    - </strong> "+result[1] +"<br/>" ); 
 	    	displayScheduled =true;
	    	}else{
	    		if(displayScheduled){
	    		$('#orderInProgress2').append("<h3> Scheduled Orders are :</h3> <br/>");
	    		displayScheduled = false;
	    		}
	    		var scheduleOrder ="<strong>  " + result[1] + "</strong> " + " expected Order End date is : "+ "<strong> " + 
	    		result[2] +"</strong> "  +"<br/>";
	    		$('#orderInProgress2').append(scheduleOrder);	
	    	}
	    	
	    	})
        }
});
	
};

function saveMachine(productItem){
	 var machine = '#machine'+productItem;
	var machineName =$(machine).find("option:selected").text();
	var data = machineName.split("| ");
	var opEndDate ="#OperationEndDate"+productItem;
	var orderEndDate ="#orderEndDate"+productItem;

	var itemDetail = $(opEndDate).val() + "~" + $(orderEndDate).val();

	switch(productItem){
	case 1:{
		//shalwar
		shalwar = data[1] +"~"+ itemDetail;
		$('#SAssign').hide();	
		break;
	}
	case 2:{
		//kameez
		kameez = data[1] +"~"+ itemDetail;
		$('#KAssign').hide();	
		break;
	}
	case 3:{
		//duppatta
		duppatta = data[1]+"~"+ itemDetail;
		$('#DAssign').hide();	
		break;
	}
	
	};
	
	
}


</script>



<body class="hold-transition skin-blue sidebar-mini">
	<div th:replace="template:: wrapper"></div>

	<div class="content-wrapper">

		<div class="box box-danger">
			<div class="box-header with-border text-center">
				<h2 class="box-title">Manufacturing order</h2>
			</div>
			<hr />
			<form id="addProduct" action="/save" method="post"
				th:object="${orderDetail}">

				<div class="row" id="Section1.row1">
					<div class="col-md-1">&nbsp;</div>
					<div class="col-md-1">
						<label for="textfield7">order ID:</label>
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" disabled="disabled"
							th:field="${orderDetail.order.order_ID}"
							placeholder="order Number" th:id="orderID" />
					</div>
					<div class="col-md-1">
						<label for="date">Date:</label>
					</div>
					<div class="col-md-4">
						<input class="form-control" type="date" name="date" th:id="date"
							th:name="date" />
					</div>
				</div>
				<div class="row">&nbsp;</div>

				<div class="row" id="Section1.row2">
					<div class="col-md-1">&nbsp;</div>
					<div class="col-md-1">
						<label for="textfield7">Party Name:</label>
					</div>
					<div class="col-md-3">
						<select class="form-control" th:id="partyName">
							<option th:each="person ,iterStat : ${personList}"
								th:value="${person.PersonID}"
								th:text="${person.Fname +' ' +person.Lname}">						
						</option>
						</select>
					</div>
					<div class="col-md-1">
						<label for="date">Lot No:</label>
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" th:id="lotNo"
							disabled="disabled" th:field="${orderDetail.order.LotNo}" />
					</div>
				</div>
				<hr />

				<div class="content" id="Section2.row1">
					<div class="box">
						<div class="box-header text-center">
							<h3 class="box-title">product Details</h3>
						</div>
						<hr />
						<div class="row text-center" id="Section2.row1">
							<div class="col-md-1">&nbsp;</div>
							<div class="col-md-1">
								<label for="textfield7">product:</label>
							</div>
							<div class="col-md-2">


								<select th:name="Product" th:id="prodName" class="form-control"
									onchange="onProductChange()">

									<option th:each="product,RowNum : ${productList}"
										th:value="${product.prod_ID}" th:text="${product.Name}">product Name</option>
								</select>
							</div>
							<div class="col-md-1">
								<label class="control-label col-md-2" for="Pt">product
									Type</label>
							</div>
							<div class="col-md-2">
								<select class="form-control" th:id="prodType">
									<option value="0">Please Select </option>
								</select>
							</div>
							<div class="col-md-1">
								<label for="date">Design No:</label>
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control"
									th:field="*{prodDetail.DesignNo}" th:id="DesignNo" />
							</div>
						</div>
						<div class="row text-center" id="Section2.row2">

							<div class="col-md-1">
								<label for="date">Construction:</label>
							</div>
							<div class="col-md-2">
								<input type="text" class="form-control"
									th:field="${orderDetail.Construction}" />
							</div>
							<div class="col-md-1">
								<label for="textfield7">Color:</label>
							</div>
							<div class="col-md-2">
								<select class="form-control" th:id="noOfColor"
									th:name="noOfColor" onchange="getMachine()">
									<option value='1'>1</option>
									<option value='2'>2</option>
									<option value="3">3</option>
									<option value='4'>4</option>
									<option value='5'>5</option>
									<option value='6'>6</option>
									<option value='7'>7</option>
									<option value='8'>8</option>
								</select>
							</div>

							<div class="col-md-2">
								<select class="form-control" th:id="Color" th:name="Color"
									th:field='*{prodDetail.Color}'>
									<option value='Red'>Red</option>
									<option value='Green'>Green</option>
									<option value='Blue'>Blue</option>
								</select>
							</div>
							<!-- 		<div class="col-md-1">
								<label for="date">UOM:</label>
							</div>
							<div class="col-md-2">
								<select class="form-control" th:id="UOM" th:name="UOM"
									th:field="*{prodDetail.product.UOM}">
									<option value="Pcs">Pcs</option>
									<option value="Meter">Meter</option>
									<option value="other">Other</option>
								</select>
							</div>
							
							 -->

						</div>
						<!-- 					</form> -->
						<hr />
						<div class="content" id="Section4.row1">

							<div class="box" id="DetailBox">
								<div class="box-header text-center">
									<h3 class="box-title">Item wise Details</h3>
								</div>
							</div>
							<br />
							<div>
								<div class="col-md-1">
									<label for="date">Pcs:</label>
								</div>
								<div class="col-md-2">
									<input type="number" class="form-control" th:id="Pcs" />
								</div>
								<div class="col-md-1">
									<label for="date">Meter:</label>
								</div>
								<div class="col-md-2">
									<input type="number" class="form-control" th:id="Meter"
										onchange="calculateQuantity()" />
								</div>
								<div class="col-md-1">
									<label for="date">Quantity:</label>
								</div>
								<div class="col-md-2">
									<input type="number" class="form-control"
										th:field="${orderDetail.Quantity}" th:id="quantity"
										onchange="ItemQuantity(this.value)" />
								</div>
							</div>
							<label id="orderExpectedEndDate"></label>

							<div class="box-body no-padding">
								<table class="table table-striped">

									<tbody>
										<th>Name</th>
										<th>Machine</th>
										<th>Machine Availability Date</th>
										<th>Quantity</th>
										<th>Expected Completion Date</th>
										<tr>
											<td>Shalwar</td>
											<td><select class="form-control" id="machine1"
												onchange='getEndDate(this,1)'>
													<option value='99'> please select machine</option>

											</select></td>
											<td><input class="form-control" id="OperationEndDate1"
												disabled="disabled" /></td>
											<td><input class="form-control" id="itemQuantity1"
												disabled="disabled" /></td>

											<td><input class="form-control" id="orderEndDate1"
												disabled="disabled" /></td>

											<td><button type="button" id="SAssign"
													onclick="saveMachine(1)">Assign</button></td>
										</tr>
										<tr>
											<td>Kameez</td>
											<td><select class="form-control" id="machine2"
												onchange='getEndDate(this,2)'>
													<option value='99'> please select machine</option>

											</select></td>
											<td><input id="OperationEndDate2" class="form-control"
												disabled="disabled" /></td>
											<td><input class="form-control" id="itemQuantity2"
												disabled="disabled" /></td>

											<td><input id="orderEndDate2" class="form-control"
												disabled="disabled" /></td>
											<td><button id="KAssign" type="button"
													onclick="saveMachine(2)">Assign</button></td>
										</tr>
										<tr id="rowDuppatta">
											<td>Duppatta</td>
											<td><select class="form-control" id="machine3"
												onchange='getEndDate(this,3)'>
													<option value='99'> please select machine</option>

											</select></td>
											<td><input id="OperationEndDate3" class="form-control"
												disabled="disabled" /></td>
											<td><input class="form-control" id="itemQuantity3"
												disabled="disabled" /></td>

											<td><input class="form-control" id="orderEndDate3"
												disabled="disabled" /></td>
											<td><button id="DAssign" type="button"
													onclick="saveMachine(3)">Assign</button></td>
										</tr>

									</tbody>
								</table>

							</div>
							<br />
							<div id="machineDetail" class="callout callout-success">
								<h4 id="orderInProgress1"></h4>

								<p id="orderInProgress2"></p>
							</div>
						</div>


						<div class="row text-center" id="Section2.row3">

							<br /> <input type="button" class="btn-lg btn-success"
								value="Add" id="Add" onclick="add()" />

						</div>

					</div>


					<div class="box">
						<div class="box-header center">
							<h3 class="box-title">Added Items</h3>
						</div>

						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table table-striped">
								<tbody th:id="addedProducts" th:remove="all-but-first">
									<tr>
										<th style="width: 10px">#</th>
										<th>product</th>
										<th>Quantity</th>
										<th>Color</th>
										<th>Construction</th>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.box-body -->

					</div>

					<div class="row">
						<div class="col-sm-3 pull-right">
							<button type="submit" class="btn btn-danger">Cancel</button>
							<a href="starter.html">
								<button type="submit" class="btn-lg btn-primary" id="Confirm"
									data-backdrop="static" data-toggle="modal"
									data-target="#modal-success">Confirm</button>
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- /.content-wrapper -->
	<div th:replace="template:: modal"></div>

	<div th:replace="template:: footer"></div>
</body>
</html>