<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>

<script th:inline="javascript">
	function operationlist() {

	}
</script>

<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>


	<!-- Content Wrapper. Contains page content -->

	<div class="content-wrapper ">
		<!-- Content Header (Page header) -->
		<section class="content">
			<div class="box box-danger">
				<div class="box-header with-border text-center">
					<h2 class="box-title">Manufacturing Order</h2>
				</div>
				<hr />


				<div class="row" id="Section1.row1">
					<div class="col-md-1">&nbsp;</div>
					<div class="col-md-1">
						<label for="textfield7">order ID:</label>
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" disabled="disabled"
							th:field="${order.order_ID}" placeholder="order Number"
							th:id="orderID" />
					</div>
					<div class="col-md-1">
						<label for="date">Date:</label>
					</div>
					<div class="col-md-4">
						<input type="date" name="date" th:id="date" th:name="date"
							th:field="${order.date}" />
					</div>
				</div>
				<div class="row">&nbsp;</div>

				<div class="row" id="Section1.row2">
					<div class="col-md-1">&nbsp;</div>
					<div class="col-md-1">
						<label for="textfield7">Party Name:</label>
					</div>
					<div class="col-md-3">
						<select class="form-control" th:id="partyName">
							<option th:text="${order.person.Fname +' '+ order.person.Lname}">						
						</option>
						</select>
					</div>
					<div class="col-md-1">
						<label for="date">Lot No:</label>
					</div>
					<div class="col-md-3">
						<input type="text" class="form-control" th:id="lotNo"
							disabled="disabled" th:field="${order.LotNo}" />
					</div>
				</div>
				<hr />


				<div class="content" id="Section2.row1">
					<div class="box">
						<div class="box-header text-center">
							<h3 class="box-title ">Product Details</h3>
						</div>

						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table table-striped">
								<tbody>
									<tr>
										<th style="width: 10px">#</th>
										<th>Product</th>
										<th>Quantity</th>
										<th>Color</th>
										<th>Construction</th>
									</tr>
									<tr th:each="item,iterStat : ${ODList}">
										<td th:text="${iterStat.index}">...</td>
										<td th:text="${item.prodDetail.product.name}">..</td>
										<td th:text="${#numbers.formatDecimal(item.quantity, 0, 2)}">100
											PCS</td>
										<td th:text="${item.prodDetail.color}">RED</td>
										<td th:text="${item.construction}">64*64</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
<!-- 				<div class="content" id="OIP"> -->
<!-- 					<div class="box"> -->
<!-- 						<div class="box-header"> -->
<!-- 							<h3 class="box-title">Department Details</h3> -->
<!-- 						</div> -->
<!-- 						/.box-header -->
<!-- 						<div class="box-body no-padding"> -->
<!-- 							<table th:id="operationDetailTable" class="table table-striped"> -->
<!-- 								<tbody> -->
<!-- 									<tr> -->
<!-- 										<td>No</td> -->
<!-- 										<td>Operation Name</td> -->
<!-- 										<td>Department</td> -->
<!-- 									</tr> -->

<!-- 									<tr th:each="order,iterStat : ${operationList}" -->
<!-- 										th:if="dept.Dept_ID == order.dept.Dept_ID "> -->
<!-- 										<td th:text="${iterStat.index}">...</td> -->
<!-- 										<td th:text="${ order.name}">...</td> -->
<!-- 										<td th:text="${order.dept.name}">...</td> -->
<!-- 										<td>Estimate Date</td> -->
<!-- 										<td><input type="text" placeholder="Enter Estiamted Date" /></td> -->
<!-- 									</tr> -->
<!-- 								</tbody> -->
<!-- 							</table> -->
<!-- 						</div> -->
<!-- 						/.box-body -->
<!-- 					</div> -->

<!-- 				</div> -->

				<div class="content" id="completedProduct">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Completed Product</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<p>No product is in complete status</p>
						</div>
						<!-- /.box-body -->
					</div>

				</div>

				<div class="content" id="RemainingProduct">
					<div class="box">
						<div class="box-header center">
							<h3 class="box-title">Remaining Product</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table table-striped">
								<tbody>
									<tr>
										<th style="width: 10px">#</th>
										<th>Product</th>
										<th>Quantity</th>
										<th>Color</th>
										<th>Construction</th>
									</tr>
									<tr th:each="item,iterStat : ${ODList}">
										<td th:text="${iterStat.index}">...</td>
										<td th:text="${item.prodDetail.product.name}">..</td>
										<td th:text="${#numbers.formatDecimal(item.quantity, 0, 2)}">100PCS</td>
										<td th:text="${item.prodDetail.color}">RED</td>
										<td th:text="${item.construction}">64*64</td>

									</tr>
								</tbody>
							</table>


						</div>
						<!-- /.box-body -->
					</div>

				</div>


			</div>
		</section>


	</div>
	<!-- /.content-wrapper -->


	<!-- /.content-wrapper -->


	<div th:replace="template:: footer"></div>
</body>
</html>