<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>

<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content">
			<div class="box box-danger">

				<div class="box-header with-border text-center">
					<h2 class="box-title">DateWise Production</h2>
				</div>
				<br />
				<table class="table table-striped">
					<tbody>
						<th>
						<td>No.</td>
						<td>Operation Name</td>
						<td>Department</td>
						<td>Daily Production</td>
						</th>
						<tr>
							<td>15/10/2017</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Washing</td>
							<td>Dyieng</td>
							<td>50,000</td>
						</tr>
						
						<tr>
							<td>2</td>
							<td>Mercerizing</td>
							<td>Dyieng</td>
							<td>40,000</td>
						</tr>
						
						<tr>
							<td>3</td>
							<td>siezing</td>
							<td>Dyieng</td>
							<td>50,000</td>
						</tr>
						<tr>
							<td>14/10/2017</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Washing</td>
							<td>Dyieng</td>
							<td>50,000</td>
						</tr>
						<tr>
							<td>13/10/2017</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Washing</td>
							<td>Dyieng</td>
							<td>50,000</td>
						</tr>
						<tr>
							<td>12/10/2017</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Washing</td>
							<td>Dyieng</td>
							<td>50,000</td>
						</tr>

					</tbody>

				</table>
			</div>
		</div>
	</div>

	<div th:replace="template:: footer"></div>
</body>
</html>