<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template:: head"></div>

<script th:inline="javascript">
	function showDiv() {
		$("#detailColumn").show();
	}

	function swapOrder(value) {
		var swapWith = $("#swapInput").val();

		$.ajax({
			type : "POST",
			data : {
				ID : value,
				swapWith : swapWith
			},
			url : "/viewOrder/swap",
			success : function(val) {
				var firstOrder = "#seq" + value;
				var secondOrder = "#seq" + val;
				var seq = $(firstOrder).html();
				$(secondOrder).html(seq);
				$(firstOrder).html(swapWith);

			}
		});

	}
</script>

<body class="hold-transition skin-blue sidebar-mini">

	<div th:replace="template:: wrapper"></div>
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content">
			<div class="box box-danger">

				<div class="box-header with-border text-center">
					<h2 class="box-title">List of Order</h2>
				</div>
				<br />
				<table class="table table-striped">
					<tbody>
						<th>
						<td>Order No</td>
						<td>Party Name</td>
						<td>Status</td>
						<td>Estimated Delievery Date</td>
						<td>Sequence No.</td>
						</th>
						<tr th:each="order,iterStat : ${orderList}">
							<td></td>
							<td th:id="ID" th:text="${order.order_ID}">...</td>
							<td th:text="${order.person.Fname+' ' +order.person.Lname}">...</td>
							<td th:text="${order.orderStatus}">...</td>
							<td th:text="${order.estimatedDate}">...</td>
							<td th:id="${'seq'+order.order_ID}"
								th:text="${order.sequenceNo }">...</td>
							<td><a
								th:href="@{'/viewOrder/orderDetail/'+${order.order_ID}}"><button
										type="button" class="btn btn-primary">View Details</button> </a>

								<button onclick="showDiv()" th:value="${order.order_ID}"
									th:class="${iterStat.odd}? 'btn-primary' : 'btn-danger'">Swap
								</button></td>
							<td id="detailColumn" hidden="true"><input
								placeholder="Enter Sequence No. to swap with" type="number"
								th:id="swapInput" />
								<button th:value="${order.order_ID}"
									onclick="swapOrder(this.value)">Save</button></td>
						</tr>
					</tbody>

				</table>


			</div>
		</div>
	</div>

	<div th:replace="template:: footer"></div>
</body>
</html>